<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">

      <div class="row">
        <nav class="navbar navbar-inverse col-lg-12">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#"><h1>Weekly Sports</h1></a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="/home">Home</a></li>
              <li><a href="/create">New post</a></li>
              <li><a href="/archive">Archive</a></li>
            </ul>
          </div>
        </nav>
      </div>


        <div class="row">
          <div class="jumbotron col-lg-12 image">

          </div>
        </div>

        </div>



      <div class="row">

        <% if (posts) { %>
          <% posts.forEach(function(post) { %>

            <div class="col-xs-12 col-md-6 col-lg-6">
              <div class="panel panel-primary">

                 <div class="panel-heading">
                    <h3 class="panel-title"><%= post.title %> </h3>
                 </div>

                 <div class="panel-body">
                   <img src="<%=post.image %>" alt="" width="61%" >
                    <strong><p><%= post.date %></p></strong>
                   <p><%- post.content %></p>
                   <a class="btn btn-primary btn-lg" href="/post/<%= post.id %>" role="button">Read more</a>
                 </div>

                 <div class="panel-footer">Author: <%= post.author %></div>
              </div>
            </div>


          <% }); %>

          <% } else { %>

            <p> you have no posts </p>


        <% } %>




      </div>


    </div>
    <div class="">
      <div class="contact">
        <h1>Contact</h1>
      </div>
      <form class="" action="abnuto.samuels@gmail.com" method="post">
        <div class="info">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" name="name" placeholder="name" id="name">
          </div>
          <div class="form-group">
            <label for="contact">Contact:</label>
            <input type="password" class="form-control" name="contact" placeholder="Contact" id="contact">
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" placeholder="Email" id="email">
          </div>


        </div>
        <button type="submit" class="btn btn-primary" style="background: white; color: black; padding: 10px;">Post</button>

      </form>

    </div>
    <div class="panel panel-default" style="margin-top: 1%;">
      <div class="panel-footer">Copyright@AbnutoSamuels2018</div>
    </div>




    <script type="text/javascript">

    </script>
  </body>
</html>
